Jupyter Exercises/Pandas/movielens/genome-scores.csv
Jupyter Exercises/Pandas/movielens/genome-tags.csv
Jupyter Exercises/Pandas/movielens/Icon_
Jupyter Exercises/Pandas/movielens/links.csv
Jupyter Exercises/Pandas/movielens/movies.csv
Jupyter Exercises/Pandas/movielens/ratings.csv
Jupyter Exercises/Pandas/movielens/README.txt
Jupyter Exercises/Pandas/movielens/tags.csv
Jupyter Exercises/Visualization/wdi/.DS_Store
Jupyter Exercises/Visualization/wdi/Country.csv
Jupyter Exercises/Visualization/wdi/CountryNotes.csv
Jupyter Exercises/Visualization/wdi/database.sqlite
Jupyter Exercises/Visualization/wdi/Footnotes.csv
Jupyter Exercises/Visualization/wdi/hashes.txt
Jupyter Exercises/Visualization/wdi/Indicators.csv
Jupyter Exercises/Visualization/wdi/Series.csv
Jupyter Exercises/Visualization/wdi/SeriesNotes.csv
Jupyter Exercises/Linear Regression/european_soccer/database.sqlite
Jupyter Exercises/Classification/meteo/diario.csv
Jupyter Exercises/Classification/meteo/minuto.csv
Jupyter Exercises/Aggregation/meteo/diario.csv
Jupyter Exercises/Aggregation/meteo/minuto.csv
*.jpeg
Jupyter Exercises/X-Ray Classifier/chest_xray/train/NORMAL/.DS_Store
